html{
  height: 100%;
}

body{
  background-image: url('images/background3.jpg') ;
  background-size: cover;
  background-position: center;
  font-family: 'Merriweather', serif;
}

.col-3, .col-4{
  margin: auto;
  color: white;
}

i{
  padding-right: 7px;
  padding-left: 7px;
}
