{% extends 'layout.html' %}

<!-- {% block emailexists %}
  {%if emailfound%}
    <div class="alert alert-danger" role="alert">
      <p>Email already exists</p>
    </div>
  {% endif %}
{%endblock%} -->

{% block content %}

{% with messages = get_flashed_messages(category_filter=['danger']) %}
  {% if messages %}
    <div class="alert alert-danger" role="alert">
      {{messages[0]}}
    </div>
  {% endif %}
{% endwith %}

<form class="form-signin" method="post", action="{{ url_for('signup') }}">
  {% with messages = get_flashed_messages(category_filter=['danger']) %}
    {% if messages %}
      <div class="col-6 text-center pt-2">
    {% else %}
      <div class="col-6 text-center pt-5">
    {% endif %}
  {% endwith %}
    <h1 class="h2 mb-5 font-weight-normal">Please sign up</h1>
    <div class="form-row">
      <div class="col-6 mb-3">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required autofocus>
      </div>
      <div class="col-6 mb-3">
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="anyway@example.com" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-6 mb-3">
        <label for="inputPassword" >Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control mb-2" placeholder="********" required>
      </div>
      <div class="col-6 mb-3">
        <label for="confirmPassword" >Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control mb-2" placeholder="********" required>
      </div>
    </div>
   <div class="col-4">
     <button class="btn btn-outline-light btn-block btn-lg" type="submit">Register</button>
   </div>

  </div>
</form>
{% endblock %}
