html{
  height: 100%;
}

body{
  background-image: url("D:/Marwan/projects/Web/project1/images/background3.jpg");
  background-size: cover;
  background-position: 0 70%;
  font-family: 'Merriweather', serif;
}

#content {
  text-align: center;
  padding-top: 50px;
  color: white;
}
#content h1{
  font-size: 350%;
  font-weight: 600;
}
#content p{
  font-size: 120%;
  padding: 20px 0;
}

#gotcha{
  font-size: 200%;
}

form{
  padding-left: 200px;
}

i{
  padding-right: 7px;
  padding-left: 7px;
}
